body{
    font-family: 'Comfortaa', cursive;
}
h1{
    font-size: 50px;
}

.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
    
}

.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(30deg,grey, skyblue);
    padding: 5px 10px;

}
.header-sec{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}    
.dream-sec{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
   
}
.single-box{
    box-shadow: 10px 10px 40px lightgrey;
    border-radius: 5px;
    height: 300px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
   
}
#experience-zone{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, orange, red);
    border-image-slice: 1;
}  
#baby-zone{
    border-left: 5px solid;
    border-image:linear-gradient(180deg, skyblue, blue);
    border-image-slice: 1;
} 
footer p{
    text-align: center;
    font-size: 20px;
}